* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	color: #fff;
	background-color: #5995DA;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.todo-container {
	color: #5995DA;
  	background-color: #D6E9FE;
  	padding: 20px 0;
  	display: flex;
  	justify-content: center;

  	margin-bottom: 10px;
}

.todo-grid-container {
	display: flex;
	justify-content: center;
}

.todo-grid-container-ul {
	display: flex;
	justify-content: center;
	flex-direction: column;

	/*border: 1px solid red;*/
	width: 500px;
	list-style-type: none;
}

.todo-grid-container-ul li {
	display: flex;
	justify-content: space-around;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	border: 1px solid grey;
}

.selected {
	text-decoration: line-through; 
}