* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-container {
	display: flex;
	justify-content: center;

	padding: 20px 0;
	color: #fff;
	background-color: #0085C1;
}

.input-container {
	display: flex;
	justify-content: center;
	color: #fff;
	background-color: grey;
}

.list-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 900px;
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 20%;
}

.list1 {
	display: flex;
	justify-content: center;

	width: 300px;
	border: 1px solid red;
	margin: 0.5em;
	padding: 0.5em;
	height: 500px;
}

.list1 ul {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	flex-direction: column;
}

.list1 ul li{
	height: 50px;
	width: 278px;
	border: 1px solid lightgrey;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
}

.list1 ul li.selected{
	background-color: #D5F0FF;
}

.list2 {
	display: flex;
	justify-content: center;

	width: 300px;
	border: 1px solid red;
	margin: 0.5em;
	padding: 0.5em;
	height: 500px;
}

.list2 ul {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	flex-direction: column;
}

.list2 ul li{
	height: 50px;
	width: 278px;
	border: 1px solid lightgrey;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
}

.list2 ul li.selected{
	background-color: #D5F0FF;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.buttons button {
	margin: 0.2em;
	padding: 0.2em;
}