* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.header-container {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	color: #000;
	background-color: aliceblue;
}

.header-container span {
	position: relative;
    right: 34%;
}

.chip-container {
	display: flex;
	justify-content: center;
	color: #fff;
	background-color: rgb(32, 35, 41);
	flex-direction: column;
	align-items: center;
}

.chip-container ul {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0.5em;
	padding: 0.5em;
	justify-content: center;
}

.chip-container ul li{
	border: 1px solid grey;
	margin: 0.5em;
	width: 302px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	border-radius: 0.625rem;
}

.character-details {
    width: 100%;
    background: rgb(32, 35, 41);
    opacity: 0.8;
}

.character-name {
	font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.character-image {
	border-radius: 0.625rem 0.625rem 0 0;
	height: 300px;
	width: 300px;
}

.character-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgb(51, 51, 51);
	border-radius: 0 0 0.625rem 0.625rem;
	align-items: center;
}

.character-info .stats {
	display: flex;
    justify-content: space-between;
    padding: 0.75rem 0px 0.375rem;
    width: 90%;
}

.character-info label {
	text-align: left;
	font-size: 0.7rem;
    font-weight: 400;
    color: rgb(158, 158, 158);
}

.character-info p {
	text-align: right;
	color: orange;
	font-weight: 200;
	font-size: 0.9rem;
}

.pagination {
	margin-bottom: 40px;
	display: flex;
    width: 20%;
    justify-content: space-evenly;
    cursor: pointer;
}

.pagination a {
	color: #fff;
	text-decoration: none;
}

.pagination a:hover {
	color: #fff;
	text-decoration: underline;
}

.episodes .show-episodes {
	cursor: pointer;
	text-decoration: underline;
}